<launch>
    
    <!-- Setting the parameter for number of images to take -->
    <arg name="calib_image_num" default="12"/>
    <param name="calib_image_num" value="$(arg calib_image_num)" type="double"/> 

    <!-- start the calibration node -->
    <node pkg="lab4" type="lab4_calibration.py" name="calibration_node"/>


    <!-- start the Depth node -->
    <!-- <node pkg="lab4" type="Depth_Map.py" name="Depth_Map_Node"/> -->

    <!-- start the SVO node -->
    <node pkg="lab4" type="Visual_Odometry.py" name="Visual_Odometry_Node" output="screen"/>

    <!-- start the RVIZ -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab4)/rviz/lab4_svo.rviz"/> -->
    
</launch>